.app_container {
  display: flex;

  .app_content {
    width: 900px;
    margin: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .home_search {
      width: 50%;
    }
  }

  .app_content_non_gap {
    gap: 0;
  }
}